/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root{
  --background-image: url("../images/cover-image-dark.png");
  --main-color: #FF0070;
  --background-color:#000028;
  --main-font: 'IBM Plex mono';
  --title-color:#DB00FF;
  --text-color:#F1B2CE;
  --outline-color:rgba(255, 0, 112, 0.40);
  --qestions-color:#FF0070;
  --title-decor-color:#000028;
  --visible: none;
  --button-color:#FF0070;
}
